.Head {
    width: 100vw;
    display: flex;
    height: 106px;
}

.Head_Left {
    display: grid;
    width: 50vw;
    justify-content: flex-start;
}

.Head_Right {
    width: 50vw;
    padding-right: 2rem;
}

.Head_Right .ULN{
    justify-content: end;
    right: 0;
    display: flex;
    list-style-type: none;
}

li{
    width: max-content;
    padding: 25px;
}

.logo {
    width: 74px;
    height: 74px;
    padding-top: 18px;
}