.container {
    inline-size: min(100% - 4rem, 70rem);
    margin-inline: auto;
}

.media-scroller {
    display: grid;
    gap: var(--size-3);
    grid-auto-flow: column;
    grid-auto-columns: 19%;

    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
}

.snaps-inline > * {
    scroll-snap-align: center;
}

::-webkit-scrollbar {
    display: none;
  }